<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Extension of the SysML profile"
            iconpath="icons/RequirementsPlus.gif"
            name="RequirementsPlus"
            path="pathmap://resources/io.dimitris.papyrus.sysml.requirementsplus/model.profile.uml"
            provider="University of York">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://resources/io.dimitris.papyrus.sysml.requirementsplus/"
            target="platform:/plugin/io.dimitris.papyrus.sysml.requirementsplus/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
          <paletteDefinition 
          		ID="io.dimitris.papyrus.sysml.requirementsplus.palette"
        		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
        		icon="/icons/RequirementsPlus.gif" 
        		name="RequirementsPlus Diagram Elements"
        		path="palette.xml">
        	
        		<Priority name="Medium"/>
        		<editor id="org.eclipse.papyrus.uml.diagram.clazz"/>
    </paletteDefinition>
   </extension>

</plugin>
